
.vs/TheOrderOfSlime/v15/Server/sqlite3/storage.ide-shm
.vs/TheOrderOfSlime/v15/Server/sqlite3/storage.ide-wal
.vs/TheOrderOfSlime/v15/Server/sqlite3/storage.ide
.vs/TheOrderOfSlime/v15/Server/sqlite3/db.lock
